* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
  position: fixed;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
header {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  padding: 0 100px;
  float: left;
}
.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 20%;
  margin-top: 80px;
  padding: 20px 0;
  background-color: #f1f1f1;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidebar h2 {
  padding: 20px;
}
.blog {
  margin-left: 260px;
  display: inline-block;
}
.img_deg {
  float: left;
  height: 350px;
  width: 500px;
  margin-right: 10px;
}
.conteudo {
  margin-top: 80px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-right: 5px;
}
.side {
  left: 50px;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  header {
    padding: 0 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  .sidebar {
    display: none;
    width: 0;
  }
  .blog {
    margin-left: 5px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
